<%- include("partials/header.ejs") %>
<div class="container">
	
<h1 style="margin-top:100px">
	SHOW TEMPLATE MITRON
	<%= prod.name %>
	
</h1>
<div>
<img src="<%= prod.image%>">	

</div>
<p>
	balndasjkvbsdjbnvaksn content content content content content
	
</p>
</div>
<%- include("partials/footer.ejs") %>
	